body {
    background-color: #0088ff;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    height: 700px;
    margin: 0;
}

button {
    background-color: #ff7b00;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 20px ;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}